# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go toolchain
.cache/

# Dependencies
/vendor/

# Go modules
go.sum

# Traktshow specific ignores
traktshow
